<!DOCTYPE html>
<html>
  <head>
      <title>Dr.Dolly</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel='stylesheet' href='../css/layout.css' type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Dr. Dolly Parton
        <img src="/img/dolly.jpg" class="img-circle" height="200 px" alt="Dolly Parton as Doctor">
      </h1>
      </div>

    #parse( $template )

    </div>
  </body>
</html>
